.header__logo {
  align-self: flex-start;
  max-width: 103.74px;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 31.6px;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .header__logo {
    max-width: 142px;
    margin-top: 45px;
    margin-left: 0px;
    margin-bottom: 41px;
  }
}
