@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter_Web/inter.css);
@import url(./blocks/body/body.css);
@import url(./blocks/content/content.css);
@import url(./blocks/delete-card-popup/delete-card-popup.css);
@import url(./blocks/edit-avatar-popup/edit-avatar-popup.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__wrapper/element__wrapper.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-icon/element__like-icon.css);
@import url(./blocks/element/__like-icon-active/element__like-icon-active.css);
@import url(./blocks/element/__like-value/element__like-value.css);
@import url(./blocks/element-popup/element-popup.css);
@import url(./blocks/element-popup-image/element-popup-image.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/item-tamplate/item-tamplate.css);
@import url(./blocks/page/page.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__wrapper/profile__wrapper.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__title-wrapper/profile__title-wrapper.css);
@import url(./blocks/profile/__text/profile__text.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile-popup/profile-popup.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/__close_correct/popup__close_correct.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image-title/popup__image-title.css);
@import url(./blocks/popup/__save-info/popup__save-info.css);
@import url(./blocks/popup/__save-info/_inactive/popup__save-info_inactive.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button-text/popup__button-text.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/_mesto/form_mesto.css);
@import url(./blocks/form/__edit/form__edit.css);
@import url(./blocks/form/__input-error/form__input-error.css);
@import url(./blocks/form/__input-error/_active/form__input-error_active.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/form/__item-name/form__item-name.css);
@import url(./blocks/form/__item-prophecy/form__item-prophecy.css);
@import url(./blocks/form/_avatar/form_avatar.css);
@import url(./blocks/form/_delete/form_delete.css);
@import url(./blocks/form/_profile/form_profile.css);

