.infoToolTip__title {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    width: 358px;
    text-align: center;
    margin: 0 0 60px;
}

@media (max-width: 540px) {
    .infoToolTip__title {
        font-size: 20px;
        width: 244px;
    }
}