.header__link_active {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
}

.header__link_active:hover {
    opacity: 0.8;
}

@media (max-width: 540px) {
    .header__link_active {
      margin-right: 30px;
    }
}