.infoToolTip__button-close {
    background-image: url(../../../images/vector-icon-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    transition: opacity 0.2s;
  }
  
  .infoToolTip__button-close:hover {
    opacity: 0.6;
  }
  
  @media (max-width: 540px) {
    .infoToolTip__button-close {
      width: 20px;
      height: 20px;
      top: -36px;
      right: 0px;
    }
  }