.profile__text {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-left: 46px;
  max-width: 100%;
}
@media screen and (min-width: 880px) {
  .profile__text {
    align-items: flex-start;
    margin-top: 28px;
    margin-left: 28px;
  }
}
