.popup__container {
  width: 282px;
  min-height: 322px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
@media screen and (min-width: 880px) {
  .popup__container {
    width: 430px;
    min-height: 330px;
  }
}
