.profile__edit-button {
  width: 18px;
  height: 18px;
  border: solid 1px #ffffff;
  background-color: #000000;
  background-image: url(../../../images/vector-icon-pen.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 11px;
  margin-top: 34px;
  transition: opacity 0.3s;
}
@media screen and (min-width: 880px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 19px;
    margin-top: 47px;
  }
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
